/* The main div, which contains the input field and the suggest div */
.suggestMain{
    position: relative;
}

/* The input field */
.autoSuggest_input{
    background-color: transparent;
    background-image: none;
    border: medium none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    outline: medium none;
    padding: 0;
}

/* Suggest div, which contains the list */
.autoSuggest_suggestDiv{
    border: lightgrey 1px solid;
    width: 162px;
    position: absolute;
    left: -1px;
    top: 24px;
    word-wrap: break-word;
}

/* One element of suggest list */
.autoSuggest_suggestDiv div{
    background:#fff;
    color:#000;
    padding-left:4px;
    cursor: pointer;
    text-align:left;
    font-size:13px;
}

/* List element over */
.autoSuggest_suggestDiv div.over{
    color:#fff;
    background:#000;
}