/** ------------- Main frame ------------- **/
#docApp{
    border: 2px solid #D9D9D9;
    height: 520px;
    margin: 15px auto;
    width: 1000px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}

/** ----- Search box ----- **/
.searchLabel{
    padding: 9px !important;
}

.searchBox{
    margin: 10px auto;
    width: 300px;
}

.searchImage{
    width: 20px;
    height: 20px;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
}

.searchButton{
    height: 40px;
    margin-left: 10px;
    width: 50px;
}

/** ----- Bookmark ----- **/
.bookmarkButton{
    width: 40px;
    height: 40px;
    background-image: url(../images/bookmark.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 15px;
}

/** ----- Dictionary and entity list ----- **/
.dictionaryList{
    margin-top: 60px;
    margin-left: 15px;
    display: inline-block;
    width: 300px;
}

.dictionariesMainTitle{
    font-size: 20px;
}

.dictionaryName{
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: bold;
}

.entityText{
    cursor: pointer;
    font-size: 17px;
    margin-left: 7px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.entityText:hover{
    color: blue;
    font-weight: bold;
}

/** ----- Document list ----- **/
.documentList{
    display: inline-block;
    margin-top: 60px;
    margin-right: 30px;
    vertical-align: top;
    width: 250px;
}

.documentsMainTitle{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.shortDocument{
    border: 1px solid #AAAAAA;
    font-size: 14px;
    height: 50px;
    margin-bottom: 30px;
    padding: 5px;
    width: 100%;
}

.openDocButton{
    width: 30px;
    height: 34px;
    background-image: url(../images/open-doc-icon.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -25px;
    top: -15px;
}

/** ----- Opened document ----- **/
.documentInOpen{
    display: inline-block;
    margin-left: 30px;
    margin-top: 60px;
    vertical-align: top;
}

.openedDocument{
    border: 1px solid #CFC4C8;
    height: 380px;
    width: 350px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.documentTitle{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 25px;
    text-align: center;
}

.documentContent{
    padding: 15px;
    height: 280px;
}

/** webservice sample **/
.webservice-sample {
    padding: 15px;
}

.webservice-sample-source {
    padding:15px;
    font-family: monospace;
    font-size: 12px;
    white-space: pre-wrap;
    box-sizing: border-box;
    width:90%;
    height:100%;
    margin-top:15px;
}
